.icon-boxes.icon-boxes-lg .icon-box {
    margin-bottom: 50px;
}

.icon-boxes .icon.icon-circle {
    vertical-align: middle;
}

.icon-wrap.icon-lg {
    font-size: 2em;
    width: 60px;
    height: 60px;
}

.icon-wrap.icon-circle.icon-lg {
    line-height: 60px;
}

.icon-boxes .icon.icon-lg {
    margin-right: 30px;
}
.icon-boxes .icon.icon-circle {
    vertical-align: middle;
}

.icon-boxes .content {
    overflow: hidden;
    zoom: 1;
}

.icon-boxes .content .title {
    margin-top: 0;
    font-weight: 500;
}

.icon-wrap.icon-circle.icon-lg {
    line-height: 60px;
}
.icon-boxes .icon.icon-circle {
    vertical-align: middle;
}
.icon-wrap.icon-lg {
    font-size: 2em;
    width: 60px;
    height: 60px;
}
.icon-wrap.icon-circle {
    line-height: 30px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}

.icon-boxes .icon {
    float: left;
    margin-bottom: 20px;
    vertical-align: top;
}
.icon-wrap {
    display: inline-block;
    text-align: center;
    font-size: 1em;
    width: 30px;
    height: 30px;
}

.contrast-bg {
    /* background-color: #e8f5ff!important; */
    background-color: #ffc107e0!important;
}

.divider{
    box-shadow: 3px 3px 5px 3px rgb(128 124 124);
}

.page-header.page-header-with-icon {
    border-top: 2px solid #eaedf2;
    
  }
  
  .lead.lead-xs {
    font-family: "Open Sans";
    line-height: 22px;
    font-size: 19px;
    font-weight: 400;
  }
  
  /*Trabajo */
  
  .page-header.page-header-with-icon {
    border-top: 2px solid #eaedf2;

  }

  @media screen and (max-width: 799px) and (min-width: 320px)
{
  h1 {
      font-size: 22px!important;
      line-height: 22px!important;
  }
}


@media (max-width: 767px){
    .icon-wrap {
        display: inline-block;
        text-align: center;
    }
}


.tipo{
    /* font-family: cursive; */
    font-family: 'Josefin Sans', sans-serif;
    color: #1C75B9;
    font-size: 1.23rem;
}

@media (max-width: 570px){
    .cent{
        text-align: center;
    }
    .icon-boxes .icon.icon-lg {
        margin-right: 0px;
    }
    .icon-boxes .icon {
        float: initial;
        margin-bottom: 20px;
        vertical-align: top;
    }
    .icon-boxes.icon-boxes-lg .icon-box {
        text-align: center;
    }
}
@media (max-width: 577px){
    .cont-total {
        padding-right: var(--bs-gutter-x,.0rem);
        padding-left: var(--bs-gutter-x,.0rem);
    }
    .tipo{
        /* font-family: cursive; */
        font-family: 'Josefin Sans', sans-serif;
        color: #1C75B9;
        font-size: 17px;
    }
}
  
